[settings]
experimental = true
lockfile = true

[plugins]
xcode = "https://github.com/hisaac/mise-xcode.git"

[env._.xcode]
version = "26"

[tools]
actionlint = "latest"
hk = "latest"
pkl = "latest"
shfmt = "latest"
usage = "latest"
xcsift = "latest"
yamlfmt = "latest"

[tools.swift]
version = "latest"

[hooks]
postinstall = '''
if [ "$CI" != "true" ]; then
  mise run bootstrap
fi
'''

# Tasks

[task_config]
includes = ["scripts"]

[tasks.bootstrap]
alias = "up"
run = ["hk install", { task = "update-hk-import" }, "swift package resolve"]

[tasks.update]
run = ["mise plugins update", "mise upgrade", "swift package update"]

[tasks.upgrade]
run = ["mise plugins update", "mise upgrade --bump", "swift package update"]

[tasks.build]
description = "Build the CLI"
usage = '''
arg "<configuration>" {
  choices "debug" "release"
  default "debug"
}
'''
run = "swift build --configuration ${usage_configuration?}"

[tasks.run]
alias = "codesign-audit"
depends = ["build"]
run = "swift run --skip-build codesign-audit"

[tasks.check]
alias = ["chk", "lint"]
run = "hk run check --all"

[tasks.fix]
alias = ["fmt", "format"]
run = "hk run fix --all"

[tasks.clean]
run = "swift package clean"

[tasks.nuke]
depends = ["clean"]
run = [
  "rm -rf ./.build",
  "rm -rf ./DerivedData",
  "rm -rf ${HOME}/Library/Caches/org.swift.swiftpm",
  "rm -rf ${HOME}/Library/Developer/Xcode/DerivedData",
  "rm -rf ${HOME}/Library/org.swift.swiftpm",
]
