[settings]
experimental = true
lockfile = true

[env]
_.file = ".env"

[tools]
actionlint = "latest"
hk = "latest"
pkl = "latest"
ruby = "4"
shfmt = "latest"
usage = "latest"
yamlfmt = "latest"

[hooks]
postinstall = '''
if [ "$CI" != "true" ]; then
  mise run bootstrap
fi
'''

# Tasks

[task_config]
includes = ["scripts"]

[tasks.bootstrap]
alias = "up"
run = ["hk install", { task = "update-hk-import" }, "bundle install"]

[tasks.run]
alias = ["codesign-audit", "csa"]
run = "bundle exec bin/csa"

[tasks.check]
alias = ["chk", "lint"]
run = "hk run check --all"

[tasks.fix]
alias = ["fmt", "format"]
run = "hk run fix --all"

[tasks.clean]
run = ""
