[settings]
experimental = true

[task_config]
includes = ["scripts"]

[tools]
hk = "latest"
pkl = "latest"
shfmt = "latest"
usage = "latest"
xcbeautify = "latest"
xcsift = "latest"
yamlfmt = "latest"
yamllint = "latest"

[tools.swift]
version = "latest"
os = ["linux"]

[tasks.bootstrap]
alias = "up"
run = ["hk install", "scripts/update-hk-import.bash"]

[tasks.run]
alias = "codesign-audit"
depends = ["build"]
run = ".build/debug/codesign-audit"

[tasks.pre-commit]
run = "hk run pre-commit"

[tasks.check]
run = "hk run check --all"

[tasks.fix]
alias = "format"
run = "hk run fix --all"

[tasks.clean]
run = "swift package clean"

[tasks.nuke]
depends = ["clean"]
run = [
  "rm -rf ./.build",
  "rm -rf ./.artifacts",
  "rm -rf ./DerivedData",
  "rm -rf ${HOME}/Library/Caches/org.swift.swiftpm",
  "rm -rf ${HOME}/Library/Developer/Xcode/DerivedData",
  "rm -rf ${HOME}/Library/org.swift.swiftpm",
]
