[settings]
experimental = true
lockfile = true

[env]
_.file = ".env"

[tools]
actionlint = "latest"
hk = "latest"
pkl = "latest"
ruby = "4"
shfmt = "latest"
usage = "latest"
yamlfmt = "latest"

[hooks]
postinstall = '''
if [ "$CI" != "true" ]; then
  mise run bootstrap
fi
'''

# Tasks

[task_config]
includes = ["scripts"]

[tasks.bootstrap]
alias = "up"
run = ["hk install", { task = "update-hk-import" }, "bundle install"]

[tasks.update]
alias = "upd"
run = [
  "mise upgrade --bump",
  "bundle update",
  "bundle clean --force",
  { task = "update-hk-import" },
]

[tasks.run]
alias = ["codesign-audit", "csa"]
run = "bundle exec bin/csa"

[tasks.check]
alias = ["chk", "lint"]
run = "hk run check --all"

[tasks.fix]
alias = ["fmt", "format"]
run = "hk run fix --all"

[tasks.clean]
alias = ["cln", "nuke"]
run = [
  "rm -f *.gem",
  "rm -rf .bundle",
  "rm -rf .rubocop_cache",
  "rm -rf .ruby-lsp",
  "rm -rf .yardoc",
  "rm -rf coverage",
  "rm -rf pkg",
  "rm -rf tmp",
  "rm -rf vendor/bundle",
  "bundle clean --force",
]
